build/
build/cmake_install.cmake
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
vcpkg/
dist/frames
dist

# === IDE-specific ===
.vscode/
.idea/

# === macOS specific ===
.DS_Store
.DS_Store
